/**
 * @file LayerSelect.css
 * @brief Styles for the layer dropdown component
 * @author Andrea Svitkova (xsvitka00)
 */

.controls-button-layer {
    font-size: 1.0rem;
}

.dropdown.dropdown-layer {
    position: absolute;
    right: 0;
    width: 120px;
    border-top-left-radius: 6px;
}

.dropdown-layer .dropdown-item {
    font-size: 0.9rem;
    padding: 4px 8px !important;
}

/** End of file LayerSelect.css */
