/**
 * @file Contact.css
 * @brief Styles for the component for displaying contact information
 * @author Andrea Svitkova (xsvitka00)
 */

.contact-mail {
    display: inline-block;
    font-weight: 700;
    color: var(--color-info);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
}

.contact-mail:hover {
    border-bottom: 1px solid var(--color-info);
    font-weight: 900;
}

/** End of file Contact.css */
