/**
 * @file ArrivalDeparture.css
 * @brief Styles for radio buttons for selecting departure or arrival mode in the planning form
 * @author Andrea Svitkova (xsvitka00)
 */

.arrival-departure-form-control {
    width: 100%;
    margin-top: -10px !important;
}

.mode-switch {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/** End of file ArrivalDeparture.css */
