/**
 * @file FindButton.css
 * @brief Styles for the find button in the planning form
 * @author Andrea Svitkova (xsvitka00)
 */

.find-button {
    padding: 10px 15px;
    color: var(--color-background);
    background-color: var(--color-info);
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 70px);
}

.find-button:disabled {
    opacity: 0.4;
}

/** End of file FindButton.css */
