requests
pandas
uvicorn
fastapi
gql
aiohttp
httpx
polyline
python-dotenv
asyncpg
gtfs-realtime-bindings
scikit-learn
pyproj
rasterio
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0+cpu
geopandas
shapely
