requests
pandas
uvicorn
fastapi
gql
aiohttp
scipy
httpx
polyline
python-dotenv
overpy
mysql-connector-python
asyncpg
osmium
gtfs-realtime-bindings
protobuf
scikit-learn
pyproj
rasterio
torch
matplotlib
lightgbm
