requests
pandas
uvicorn
fastapi
gql
aiohttp
scipy
httpx
polyline
python-dotenv
overpy
asyncpg
osmium
gtfs-realtime-bindings
protobuf
scikit-learn
pyproj
rasterio
torch --index-url https://download.pytorch.org/whl/cpu
matplotlib
lightgbm
