/**
 * @file Results.tsx
 * @brief Styles for displaying trip search results
 * @author Andrea Svitkova (xsvitka00)
 */

.results-content {
    margin: -20px;
}

.description {
    margin-left: -20px;
    padding-left: 20px;
    font-size: var(--font-size-text);
}

.detail-header {
    margin-left: -20px;
}

.no-results {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.no-results > svg {
    color: var(--color-warning);
}

/** End of file Results.css */
