/**
 * @file Detail.css
 * @brief Styles for detail component with timeline and leg components
 * @author Andrea Svitkova (xsvitka00)
 */

.detail-wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.detail-patterns {
    width: 100%;
    padding-left: 40px;
}

.detail-time-distance {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.detail-time, .detail-distance, .detail-lock, .detail-direction, .detail-departures, .detail-stops, .detail-historical-delays, .elevation-profile {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: var(--font-size-detail);
}

.detail-time, .detail-distance, .detail-lock {
    gap: 2px;
}

.detail-time-distance .timeline-icon, .bicycle-detail .timeline-icon {
    top: 5px;
    left: -40px;
}

/** End of file Detail.css */
