/**
 * @file Detail.css
 * @brief Styles for detail component with timeline and leg components
 * @author Andrea Svitkova (xsvitka00)
 */

.detail-wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.detail-patterns {
    width: 100%;
    padding-left: 40px;
}

.waystop {
    height: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: var(--font-size-detail);
}

.waystop-detail {
    display: grid;
    grid-template-columns: 40px calc(100% - 50px);
    margin-left: -55px;
    gap: 10px;
    height: 30px;
}

.detail-time-distance {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.detail-time, .detail-distance, .detail-lock, .detail-direction, .detail-departures, .detail-stops, .detail-historical-delays {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: var(--font-size-detail);
}

.bicycle-detail {
    position: relative;
}

.detail-time-distance .timeline-icon, .bicycle-detail .timeline-icon {
    top: 5px;
    left: -40px;
}

/** End of file Detail.css */
