/**
 * @file TransportPreferences.css
 * @brief Styles for the component for configuring public transport preferences
 * @author Andrea Svitkova (xsvitka00)
 */

.transport-modes {
    align-items: flex-start;
    margin-top: 10px;
}

.transport-modes > span {
    margin-top: 10px;
}

.section .MuiFormControlLabel-root {
    margin-left: 0;
}

/** End of file TransportPreferences.css */
