/**
 * @file PublicTransportDetail.css
 * @brief Styles for detail section for a public transport leg
 * @author Andrea Svitkova (xsvitka00)
 */

.public-transport-detail {
    font-size: var(--font-size-detail);
    position: relative;
} 

.stop {
    position: relative;
    padding-left: 30px;
}

.timeline-dot.public {
    top: 5px;
    left: -64px;
}

.station-square {
    width: 16px;
    height: 10px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    top: -4px;
}

.station-square::after {
    content: "";
    width: 0px;
    height: 7px;
    position: absolute;
    border: 1px solid black;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.public-transport-detail .timeline-icon {
    top: 35px;
    left: -40px;
}

.detail-direction, .detail-departures, .detail-historical-delays, .elevation-profile {
    gap: 5px;
}

.detail-stops {
    gap: 8px;
}

.detail-public-code {
    border-radius: 3px;
    min-width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
}

.departure-box {
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 15px;
}

.departure-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
}

.departure-row:hover {
    background-color: #f5f5f5;
}

.departure-button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 6px;
}

.departure-button:hover {
    background-color:  rgba(5,127,115,0.2);
    cursor: pointer;
}

.detail-trip-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delay-info {
    background-color: #0cb428;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.delay-info.delayed {
    background-color: #ff0000;
}

.warning-departures {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid #e7dbdb;
    border-left: 4px solid var(--color-warning);
}

.exclamation {
    color: var(--color-warning);
    display: flex;
    align-items: center;
}

.exclamation > svg {
    font-size: 30px;
}

.historical-delays-box {
    padding: 0 20px;
}

.historical-delay-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px solid lightgray;
}

.historical-delay-row:last-child {
    border-bottom: none;
}

.historical-date {
    font-weight: 500;
}

.historical-delay {
    text-align: right;
    color: #098007;
}

.historical-delay.delayed {
    color: #d32f2f;
    font-weight: 600;
}

.detail-zones {
    padding: 5px 0;
}

/** End of file PublicTransportDetail.css */
