/**
 * @file Sidebar.css
 * @brief Styles for the sidebar component, controls for opening and closing the panel
 * @author Andrea Svitkova (xsvitka00)
 */

.sidebar {
    width: 100%;
    max-height: 65vh;
    background-color: var(--color-background);
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 1000;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    pointer-events: auto;
    touch-action: pan-y;
    overflow: hidden;
}

.content-wrapper {
    margin-top: 70px;
    overflow: auto;
    padding: 20px;
    max-height: calc(65vh - 70px);
    pointer-events: auto;
}

.content-wrapper.results-open {
    margin-top: 136px;
    max-height: calc(65vh - 136px);
}

.content-wrapper.results-open.detail-open {
    max-height: calc(65vh - 159px);
    margin-top: 149px;
}

.content-wrapper.results-open.detail-open.more-departures-open {
    margin-top: 70px;
    max-height: calc(65vh - 70px);
}

.sidebar.open-info {
    max-height: 100vh;
    height: 100%;
}

.toggle-sidebar {
    position: absolute;
    right: -33px;
    top: -1px;
    font-size: 20pt;
    background-color: var(--color-background);
    cursor: pointer;
    height: 60px;
    display: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; 
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 6px;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
    .toggle-sidebar {
        display: block;
    }

    .sidebar {
        width: 380px;
        top: 20px;
        left: -380px;
        transition: left 0.5s ease;
        height: fit-content;
        transform: none;
        overflow: visible;
        max-height: 85vh;
        border-radius: 6px;
    }

    .sidebar.open {
        left: 20px;
        transform: none;
    }

    .sidebar.open-info {
        max-height: 85vh;
        height: fit-content;
    }

    .content-wrapper {
        margin-top: 60px;
        max-height: calc(85vh - 60px - 3px);
    }

    .content-wrapper.results-open {
        margin-top: 126px;
        max-height: calc(85vh - 128px);
    }

    .content-wrapper.results-open.detail-open {
        margin-top: 139px;
        max-height: calc(85vh - 151px);
    }

    .content-wrapper.results-open.detail-open.more-departures-open {
        margin-top: 60px;
        max-height: calc(65vh - 60px);
    }
}

/** End of file Sidebar.css */
