/**
 * @file CustomLeafletTooltip.css
 * @brief Styles for the custom Leaflet tooltip for map components
 * @author Andrea Svitkova (xsvitka00)
 */

.leaflet-tooltip.routio-leaflet-tooltip {
    background-color: var(--color-tooltip-bg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: var(--color-white-text);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
}

.leaflet-tooltip.routio-leaflet-tooltip.leaflet-tooltip-top:before {
    border-top-color: var(--color-tooltip-bg);
}

.leaflet-tooltip.routio-leaflet-tooltip.leaflet-tooltip-bottom:before {
    border-bottom-color: var(--color-tooltip-bg);
}

.leaflet-tooltip.routio-leaflet-tooltip.leaflet-tooltip-left:before {
    border-left-color: var(--color-tooltip-bg);
}

.leaflet-tooltip.routio-leaflet-tooltip.leaflet-tooltip-right:before {
    border-right-color: var(--color-tooltip-bg);
}

/** End of file CustomLeafletTooltip.css */
