/**
 * @file Select.css
 * @brief Styles for components used in leg preferences
 * @author Andrea Svitkova (xsvitka00)
 */

.select {
    position: relative;
    height: 28px;
    top: -4px;
}

.controls-button.mode {
    width: 80px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.dropdown-item .circle, .mode .circle{
    width: 23px;
    height: 23px;
    font-size: 15px;
}

.dropdown-mode .circle {
    position: relative;
}

.dropdown-item > .circle, .mode > .circle {
    left: -5px;
}

.dropdown-item .bicycle, .mode .bicycle {
    left: 18px;
}

.dropdown-item .walk, .mode .walk {
    left: 30px;
}

.select .multimodal-icon .circle {
    top: 14px;
}

.dropdown-item .multimodal-icon, .mode .multimodal-icon {
    top: 0px;
    left: -10px;
    height: 28px;
}

.dropdown-mode .dropdown-item .multimodal-icon .circle {
    position: absolute;
}

.dropdown-mode {
    left: 0px;
    width: 80px !important;
}

.mode > .circle {
    position: relative;
    top: 11px;
}

.dropdown-mode > .dropdown-item {
    width: 80px;
    height: 28px;
}

.mode .mode-arrow {
    position: relative;
    right: -7px;
    display: inline-block;
    font-size: 1.2rem;
    top: 2px;
}

/** End of file Select.css */
