/**
 * @file Preferences.css
 * @brief Styles for the button component for opening advanced routing preferences
 * @author Andrea Svitkova (xsvitka00)
 */

.preferences-button {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--color-background);
    cursor: pointer;
    font-size: 13pt;
    height: 35px;
    width: 60px;
}

/** End of file Preferences.css */
