/* *
 * @file Settings.css
 * @brief Styles for the settings component
 * @author Andrea Svitkova (xsvitka00)
 */

.back-button {
    background-color: var(--color-background);
    height: 68px;
    font-size: 20pt;
    padding-top: 7px;
}

.sidebar-header{
    margin: -20px;
    padding-left: 20px;
    border-bottom: 1px solid var(--color-text-secondary);
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 20px;
    background-color: var(--color-background);
    z-index: 1100;
    border-top-left-radius: 6px;
}

.sidebar-header > span{
    font-size: 20pt;
    font-weight: bold;
    position: relative;
    bottom: 8px;
    color: var(--color-text-primary);
}

@media screen and (min-width: 768px) {
    .back-button {
        height: 58px;
    }
}

/** End of file Settings.css */
