/* *
 * @file Settings.css
 * @brief Styles for the settings sidebar component
 * @author Andrea Svitkova (xsvitka00)
 */

.back-button {
    background-color: #fafafa;
    height: 58px;
    font-size: 20pt;
}

.sidebar-header{
    margin: -20px;
    padding-left: 20px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 20px;
    background-color: #fafafa;
    z-index: 10000;
    border-top-left-radius: 6px;
}

.sidebar-header > span{
    font-size: 20pt;
    font-weight: bold;
}

/** End of file Settings.css */
