/**
 * @file Section.css
 * @brief Styles for the reusable component for settings configuration
 * @author Andrea Svitkova (xsvitka00)
 */

.section {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    align-items: center;
    gap: 1rem;
}

.section-label {
    flex: 0 0 auto;
    font-weight: 500;
    min-width: 100px;
    max-width: calc(100% - 140px);
}

.number-input {
    flex: 0 0 120px;
    max-width: 150px;
}

.number-input .fa-icon {
    font-size: 0.75rem;
}

.settings-adornment {
    position: relative;
    left: 7px;
    margin-left: 0px !important;
}

.settings-adornment button:disabled {
    cursor: not-allowed !important;
    pointer-events: all;
}

/** End of file Section.css */
