/**
 * @file LegPreferences.css
 * @brief Styles for the component for editing leg preferences
 * @author Andrea Svitkova (xsvitka00)
 */

.leg-preferences-wrapper {
    width: fit-content;
}

.leg-preferences-button{
    color: gray;
    position: relative;
    top: 1px;
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.leg-preferences-button.fixed {
    cursor: not-allowed;
}

.leg-preferences-button .bicycle {
    left: 15px;
}

.leg-preferences-button .walk {
    left: 25px;
}

.leg-preferences-button .multimodal-icon {
    top: 5px;
    left: -5px;
    position: absolute;
}

.leg-preferences-button .circle {
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: gray;
    top: 5px;
}

.multimodal .circle {
    top: 0px;
}

.leg-preferences-select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.leg-preferences-select-wrapper > svg {
    position: relative;
    top: -2px;
    cursor: pointer;
}

/** End of file LegPreferences.css */
