/**
 * @file LegPreferences.css
 * @brief Styles for editing trip prefferences in the leg preferences component
 * @author Andrea Svitkova (xsvitka00)
 */

.leg-preferences-button{
    color: gray;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.leg-preferences-button .circle {
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: gray;
    top: 5px;
}

.leg-preferences-button .bicycle {
    left: 15px;
}

.leg-preferences-button .walk {
    left: 25px;
}

.leg-preferences-button .multimodal-icon {
    top: 5px;
    left: -5px;
    position: absolute;
}

.leg-preferences-button .accuracy {
    position: relative;
    left: 20px;
    top: -5px;
}

.multimodal .accuracy {
    left: 40px;
}

.multimodal .circle {
    top: 0px;
}

.leg-preferences-wrapper {
    width: 100%;
}

.leg-preferences-select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.leg-preferences-select-wrapper > svg {
    position: relative;
    top: -2px;
}

.leg-preferences-time {
    position: relative;
    left: 50px;
    bottom: 5px;
    width: 100px;
}

.leg-preferences-time.short{
    left: 30px;
}

/** End of file LegPreferences.css */
