/**
 * @file Planning.css
 * @brief Styles for the route planning component
 * @author Andrea Svitkova (xsvitka00)
 */

.preferences-find {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* End of file Planning.css */
