/**
 * @file ElevationProfile.css
 * @brief Styles for displaying an elevation profile chart
 * @author Andrea Svitkova (xsvitka00)
 */

.elevation-tooltip {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 6px;
}

.apexcharts-tooltip {
    margin-left: -3px;
}

.apexcharts-svg:focus {
    outline: none;
}

.asc-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: var(--font-size-detail);
}

.asc-desc-divs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.elevation-fixed-tooltip-wrapper {
    position: absolute;
    width: 70px;
    padding: 1px;
    background-color: white;
    border-radius: 6px;
}

.elevation-fixed-tooltip {
    width: 68px;
    overflow: visible;
    background-color: var(--color-background);
    font-size: var(--font-size-detail);
}

/** End of file ElevationProfile.css */
