/**
 * @file index.css
 * @brief Styles for the entry point of the application
 * @author Andrea Svitkova (xsvitka00)
 */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-text-primary: black;
    --color-text-secondary: grey;
    --color-background: #fafafa;
    --color-item-hover: lightgray;
    --color-item-selected: #eeecec;
    --color-icons: #7e7e7e;
    --color-icons-darker: #484848;
    --color-white-text: #ffffff;
    --color-black-border: #000000;

    /* Pin icon */
    --color-pin-icon: red;
    --color-pin-icon-preview: #dc9f9f;

    /* Info headers */
    --color-info: #057f73;

    /* Bike stations */
    --color-origin-station: #2e7d32;
    --color-destination-station: #1565c0;

    /** Tooltip */
    --color-tooltip-bg: rgba(108, 108, 108, 0.95);

    --font-size-title: 40px;
    --font-size-text: 16px;
    --font-size-notes: 10px;
    --font-size-detail: 14px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    user-select: none;
}

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#root {
    min-width: 300px;
    min-height: 400px;
}

@media (min-width: 300px) and (min-height: 400px) {
    html, body, #root {
        overflow: hidden;
    }
}

/** End of file index.css */
