/**
 * @file InfoSettings.css
 * @brief Styles for the buttons for settings and information in the sidebar component
 * @author Andrea Svitkova (xsvitka00)
 */

.grid-wrapper > button {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--color-background);
    cursor: pointer;
    font-size: 13pt;
    height: 35px;
}

/** End of file InfoSettings.css */
