/**
 * @file BikeStations.css
 * @brief Styles for the bike station component
 * @author Andrea Svitkova (xsvitka00)
 */

/* Origin/destination bike stations */
.station-svg {
    width: 16px;
    height: 16px;
}

.marker.origin-marker {
    background: var(--color-origin-station);
}

.marker.origin-marker::after {
    border-top-color: var(--color-origin-station);
}

.marker.destination-marker {
    background: var(--color-destination-station);
}

.marker.destination-marker::after {
    border-top-color: var(--color-destination-station);
}

.bike-stations-popup-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
    margin: 5px 0;
}

.bike-stations-bike-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(5,127,115,0.1);
}

.count-header {
    font-weight: bolder;
}

.count {
    font-size: 20px;
    font-weight: bold;
}

.bike-stations-coords {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Other stations */
.marker.small-bike-marker {
    width: 16px;
    height: 16px;
}

.marker.small-bike-marker::after {
    bottom: -7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid;
}

.marker-inner.small-inner {
    width: 6px;
    height: 6px;
}

.origin-marker.small-bike-marker::after {
    border-top-color: var(--color-origin-station);
}

.destination-marker.small-bike-marker::after {
    border-top-color: var(--color-destination-station);
}

/* End of file BikeStations.css */
