/**
 * @file SharedBikeStations.css
 * @brief Styles for displaying shared bike stations on the map with clustering
 * @author Andrea Svitkova (xsvitka00)
 */

.shared-bike-radio-group {
    padding-left: 8px;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.shared-bike-radio-group span {
    padding: 0 !important;
}

.shared-bike-popup-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

.bicycle-name {
    border-bottom: 2px solid var(--color-info);
    margin: auto;
    font-size: 16px;
    margin-bottom: 2px;
}

.bicycle-section-title {
    font-weight: 600;
}

.bicycle-section:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bicycle-toggle-group {
    width: 100%;
    height: 25px;
}

.bicycle-toggle-button {
    text-transform: none !important;
    font-size: 13px !important;
    flex: 1;
}

/** End of file SharedBikeStations.css */
