/**
 * @file TimeDate.css
 * @brief Styles for the time and date component in the planning sidebar
 * @author Andrea Svitkova (xsvitka00)
 */

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 12px !important;
    margin-top: 3px;
}

.time-date {
    margin-top: 12px;
    margin-bottom: 10px !important;
}

.MuiPickersInputBase-root {
    font-size: 0.9rem !important;
    height: 35px;
}

/** End of file TimeDate.css */
