/**
 * @file Information.css
 * @brief Styles for the information component button
 * @author Andrea Svitkova (xsvitka00)
 */

.controls-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** End of file Information.css */
