/**
 * @file Info.css
 * @brief Styles for the info component
 * @author Andrea Svitkova (xsvitka00)
 */

.info-wrapper {
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10003;
    border: 2px solid var(--color-info);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.info .selected {
    border-bottom-width: 3px;
}

.info-header {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-right: 40px;
}

.mobile-menu-button {
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.mobile-menu-button svg {
    font-size: 30px;
    position: relative;
}

.info-header .logo {
    justify-content: center;
    flex-grow: 1;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    background-color: var(--color-background);
}

.close-button svg {
    font-size: 30px;
}

.mobile-navigation {
    position: relative;
}

.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid black;
    z-index: 10101;
}

.mobile-menu div {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.text-wrapper {
    padding: 20px;
    padding-top: 10px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

@media screen and (min-width: 768px) {
    .info {
        background-color: var(--color-background);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: min(1200px, calc(100% - 150px));
        height: calc(100% - 150px);
    }

    .info .info-grid-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .info .input-wrapper {
        text-align: center;
        border-bottom: 1px solid black;
        margin-bottom: 0;
        cursor: pointer;
        padding: 12px;
    }

    .info .input-wrapper.selected {
        border-bottom: 2px solid black;
    }
}

/** End of file Info.css */
